body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d3eaff;
}

.navbar {
  overflow: hidden;
  background-color: #d3eaff;
  /* position: fixed; */
  top: 0;
  width: 100%;

  z-index: 1001;
  display: flex;
  position: sticky;
}

.headerImage {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 15px;
}

.headerImage > img {
  width: 100%;
  height: auto;
  min-width: 10vw;
  max-width: 60vw;
  padding-bottom: 3vw;
}

.footer {
  height: 70px;
  display: flex;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 2000;
  width: 100vw;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  justify-content: space-around;
  background-color: #e39b7d;
}

.filter-options-container {
  margin-top: 100px;
}

.match-list {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-card {
  display: flex;
  width: 80%;
  margin: 15px;
  border: solid blue 2px;
  padding: 10px;
  justify-content: flex-start;
}

.match-card img {
  margin-right: 25px;
  min-width: 70px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  border-radius: 40%;
}

.match-card p {
  flex-wrap: wrap;
}

.home_button {
  width: 50px;
  height: auto;
}

.connection_button img {
  display: flex;
  width: 40px;
  height: auto;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
