body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d3eaff;
  align-items: center;
}

#auth-sign-in {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

#auth-sign-up {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

#auth-sign-in div div div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

#auth-sign-in div div div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

#auth-sign-up div div div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

input[type="email"]::placeholder {
  color: #626161;
}

input[type="password"]::placeholder {
  color: #626161;
}

.navbar {
  /* overflow: hidden; */
  background-color: #d3eaff;

  top: 0;
  max-width: 600px;

  z-index: 1001;
  /* display: flex; */
  position: sticky;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
}

.headerLogged {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.headerImage {
  display: flex;
  width: 100%;
  padding-top: 5px;
  justify-content: center;
}

.headerImage > img {
  /* width: 60%; */
  height: auto;
  min-width: 3%;
  max-width: 60%;
}

.footer {
  height: 50px;
  margin: 0 auto; /* Center the footer horizontally */
  width: 100%;
  max-width: 600px;
  z-index: 2000;
  position: sticky;
  bottom: 0; /* Stick to the bottom of the viewport */
}

.footer-container {
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  justify-content: space-around;
  background-color: #e39b7d;
}

.match-list {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.match-card {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid rgb(201, 201, 201);
  background-color: #ececec;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
}

.match_card_photo {
  border-radius: 50%;
  border: solid grey 1px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  object-fit: cover;
}
.card-info {
  width: 80%;
}

/* .match-card p {
  flex-wrap: wrap;
} */

.home_button {
  width: 40px;
  height: auto;
  padding: 0;
  margin: 0;
}

.connection_button img {
  display: flex;
  width: 30px;
  height: auto;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.skills_interests {
  display: inline-block;
  border: 2px solid;
  border: none;
  margin-top: 10px;
}

.match_username {
  text-decoration: none;
  color: rgb(71, 71, 71);
  margin-bottom: 10px;
  font-size: 1.2em;
}

.skills_and_interest_title {
  color: rgb(71, 71, 71);
  font-weight: bold;
}

.error-page-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.error-page-section h2 {
  text-align: center;
  color: #6f7ea1;
}
