* {
    /* border: 1px solid green; */
}

.connection-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    width: 80vw;
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(127, 255, 176);
}

.connection-card > * {
    background-color: rgb(127, 255, 176);
}

.connection-card > img {
    border-radius: 5px;
    width: 20vw;
    height: 5.5vh;
    margin-right: 10px;
}

.connections-container {
    margin-top: 30px;
    padding: 5px;
}

.connection-card-group {
    display: flex;
    flex-direction: row;
}