.filter-options-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  border: none;
}

.button_filter_component {
  background-color: #e39b7d;
  padding: 5px 10px;
  border-radius: 5px;

  color: white;
  font-size: 1.1em;
}
