* {
  /* border: 1px solid green; */
}

.chat {
  display: flex;
  flex-direction: column;
}

.messages-list {
  display: flex;
  flex-direction: column-reverse;
  height: 80vh;
  overflow-y: scroll;
  padding: 0 15px 60px 15px;
  margin-top: 40px;
  max-width: 600px;
}

.message-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 55%;
  border-radius: 5px;
  padding: 5px;
  max-width: 600px;
}

.message-card > * {
  background-color: rgba(250, 235, 215, 0);
}

.message-card > div {
  flex-direction: column;
  text-decoration: none;
  overflow:hidden;
}

.message-card > div > * {
  background-color: rgba(250, 235, 215, 0);
}

.my-chat {
  align-self: end;
  flex-direction: row;
  margin: 5px;
  background-color: #ececec;
  border: 1px solid #dbdbdb;
}

.not-my-chat {
  float: left;
  margin: 5px;
  background-color: rgb(155, 211, 248);
  border: 1px solid rgb(105, 158, 194);
}

.message-date {
  font-size: calc(10px +  0.1vw);
}
.message-body {
  font-size: calc(10px + 0.3vw);
}

.chat-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  position: fixed;
  background-color: #e39b7d;
  max-width: 600px;
}

.chat-header > h4 {
  background-color: none !important;
  margin: auto;
}

.chat-message-form {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: sticky;
  bottom: 52px;
  background-color: #e39b7d;
  border-radius: 5px;
  height: 2em;

  margin: auto;
  color: white;
  font-size: 1.1em;

  max-width: 600px;
}

.chat-message-form > button {
  margin: auto;
  min-width: 20%x;
}

.chat-input {
  width: 80%;
  border: 1px solid #e39b7d;
  /* padding-left: 5px; */
}
