.review-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 25%, 25%, 25%, 25%;
  grid-template-rows: 20%, 20%, 20%, 20%, 20%;
  width: 90%;
  padding: 5px;
  margin-top: 20px;
  padding-left: 2px;
  background-color: #d3eaff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.reviewRate {
  grid-column-start: 1;
  grid-row-start: 1;
  margin-left: 5px;
  font-weight: bold;
}
.reviewDate {
  grid-column: 5/6;
  grid-row: 1/2;
  padding: 5px;
  text-align: right;
}
.reviewMessage {
  grid-column: 1/6;

  grid-row-start: 2;
  grid-row-end: 4;
  /* margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px; */
  padding: 10px;
}
.reviewsUl {
  width: 100%;
  height: 300px;
  display: block;
  list-style-type: none;
  overflow-y: scroll;
  padding-bottom: 30px;
}

.reviewerDetails {
  grid-column: 1 / 6;
  grid-row: 4/5;
  margin-top: 10px;
  margin-left: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
}

.reviewerDetails:visited {
  color: black;
}

.reviewerImg {
  grid-column: 1 /2;
  grid-row: 1;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-bottom: 5px;
  object-fit: cover;
}

.reviewDeleteBtn {
  margin-left: 0px;
  text-align: right;
}

.addReviewBtn {
  padding: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
}

.reviewForm-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: rgb(16, 16, 16) solid 1px;
}

.reviewHeader {
  text-align: center;
  font-size: 1em;
  width: 95%;
  margin: 5px;
  margin-bottom: 10px;
}

.reviewMessageInput {
  overflow-y: scroll;
  padding: 5px;
  margin-left: 5%;
  margin-bottom: 10px;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.ratingSection {
  margin-left: 10px;
}

.ratingSection label {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.reviewUsername {
  grid-column: 2/3;
  grid-row-start: -1;
  margin-left: 10px;
}

.reviewBtns {
  display: flex;
  margin-top: 15px;
  width: 100%;
  justify-content: space-evenly;
}
.reviewSubmitBtn {
  background-color: #e39b7d;
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
}

.reviewCancelBtn {
  background-color: #e39b7d;
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
}

.add-review_button {
  background-color: #e39b7d;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  color: white;
  font-size: 0.8em;
}
